<!DOCTYPE html>
<html>
<head>
  <title>Cloud IDE</title>
  <style>
    body { margin:0; background:#1e1e1e; color:white; font-family:monospace; }
    textarea { width:100%; height:70vh; background:#111; color:#0f0; padding:10px; }
    button {
      padding:10px;
      margin:5px;
      background:#007acc;
      border:none;
      color:white;
      cursor:pointer;
    }
  </style>
</head>

<body>

<h3 style="padding:10px;">🚀 Cloud IDE</h3>

<textarea id="editor"></textarea>

<br>
<button onclick="save()">💾 Save</button>
<button onclick="run()">▶ Run</button>

<script>
let user = new URLSearchParams(window.location.search).get("user")

fetch(`/load?user=${user}`)
  .then(res => res.text())
  .then(data => document.getElementById("editor").value = data)

function save(){
  fetch("/save", {
    method:"POST",
    headers:{"Content-Type":"application/json"},
    body: JSON.stringify({
      user: user,
      code: document.getElementById("editor").value
    })
  }).then(()=>alert("Saved!"))
}

function run(){
  window.open(`/preview?user=${user}`)
}
</script>

</body>
</html>
